body {
  background-color: aqua;
}
h1 {
  color: blue;
}

.elh1 {
  color: #ff0000;
}

#elid_hola {
  color: blueviolet;
}

#elid_de_h1 {
  color: black;
}

header {
  background-color: #ff0000;
}

main {
  background-color: blueviolet;
}
footer {
  background-color: black;
}
